<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="welcomestyle.css" />
<!--<script src="SelectionSort.js"></script>-->
</head>
<body>

<div class="account">
  <!-- js-->
</div>
<div class="side-menu">
    <div class="menu-holder">

       <div class="header-input desktop-only"> <p>Sorting <span>Algorithms</span>
       </p></div>
    </div>
    <ul>
        <li type="button" onclick="location.href = 'test'">Selection Sort</li>
        <li type="button" onclick="location.href = 'test'">Top Charts</li>
        <li type="button" onclick="location.href = 'test'">New Releases</li>
        <li type="button" onclick="location.href = 'test'" class="active">Music Library</li>
        <li type="button" onclick="location.href = 'test'">Podcasts</li>
        <li type="button" onclick="location.href = 'test'">Browse Stations</li>
        <li type="button" onclick="location.href = 'test'">Shop</li>

    </ul>

</div>

<header>
<!--change color hover-->
    <h1>Music library</h1>
    <input id="input" type="text" placeholder="Search" class="header-input desktop-only" />

</header>

<div class="height"></div>
</body>
</html>